@font-face {
  font-family: 'Roboto-Light';
  src: url("../fonts/Roboto-Light.ttf"); }

@font-face {
  font-family: 'Roboto-Regular';
  src: url("../fonts/Roboto-Regular.ttf"); }

@font-face {
  font-family: 'Roboto-Italic';
  src: url("../fonts/Roboto-Italic.ttf"); }

@font-face {
  font-family: 'Roboto-Medium';
  src: url("../fonts/Roboto-Medium.ttf"); }

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 !important; }

.btn-sign-in:hover, .start-now:hover {
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out; }

.btn-sign-in:hover {
  color: #FFFFFF;
  background: -webkit-linear-gradient(315deg, #B4EC51 0%, #429321 100%);
  background: -o-linear-gradient(315deg, #B4EC51 0%, #429321 100%);
  background: linear-gradient(135deg, #B4EC51 0%, #429321 100%); }

.start-now {
  padding: 13px 40px;
  border-radius: 100px;
  background: -webkit-linear-gradient(138.88deg, #B4EC51 0%, #429321 100%);
  background: -o-linear-gradient(138.88deg, #B4EC51 0%, #429321 100%);
  background: linear-gradient(311.12deg, #B4EC51 0%, #429321 100%);
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  color: #FFFFFF;
  border: none;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  line-height: 21px; }
  .start-now:hover {
    background: -webkit-linear-gradient(315deg, #B4EC51 0%, #429321 100%);
    background: -o-linear-gradient(315deg, #B4EC51 0%, #429321 100%);
    background: linear-gradient(135deg, #B4EC51 0%, #429321 100%); }

body {
  margin: 0px;
  padding: 0px;
  font-size: 13px;
  font-family: Roboto-Regular; }
