@media screen and (max-width: 480px) {
  header {
    background-image: url("../images/Landing page/Landing-page-MB/banner1.jpg"); } }

@media screen and (width: 768px) {
  header {
    background-image: url("../images/Landing page/Landing-page-TB/banner1.jpg"); }
  .our-customer {
    background-image: url("../images/Landing page/Landing-page-TB/our_customers.jpg"); } }

@media screen and (min-width: 768px) and (max-width: 991px) {
  body {
    width: 100%; }
  .start-now {
    padding: 13px 30px;
    font-size: 14px;
    line-height: 19px; }
  .i-learnt .i-learnt-start, .daily-report .daily-report-start, .members .members-start, .customers .customers-start {
    text-align: center;
    margin-top: 0px;
    padding-bottom: 50px; }
  header .theme-icons .ti-gift, header .theme-icons .ti-alarm-clock, header .theme-icons .ti-thumb-up {
    font-size: 24px;
    letter-spacing: 2px; }
  header .text-icons .better, header .text-icons .faster, header .text-icons .together {
    font-size: 24px;
    line-height: 32px; }
  header .about-us {
    padding-left: 15%; }
  header .sign-in {
    padding-top: 20px; }
  header .logo {
    padding-top: 30px; }
    header .logo label {
      width: 144px; }
      header .logo label img {
        max-width: 100%; }
  header .theme-icons {
    padding-left: 8%;
    padding-top: 40px; }
    header .theme-icons .ti-alarm-clock {
      padding-left: 34.61%; }
    header .theme-icons .ti-thumb-up {
      padding-left: 32.5%; }
  header .text-icons {
    padding-left: 5.6%;
    padding-top: 7px; }
    header .text-icons .faster {
      padding-left: 23.8%; }
    header .text-icons .together {
      padding-left: 18.06%; }
  header .text-title {
    padding-top: 15px; }
    header .text-title p {
      font-size: 14px;
      line-height: 19px; }
  header .header-start {
    padding-top: 30px;
    padding-bottom: 84.2px; }
  .i-learnt .i-learnt-img {
    margin-top: 0px; }
  .i-learnt .today-i-learnt-title {
    padding-top: 50px; }
    .i-learnt .today-i-learnt-title p {
      font-size: 36px; }
    .i-learnt .today-i-learnt-title .ti-bookmark-alt {
      font-size: 30px; }
  .i-learnt .i-learnt-description p {
    text-align: center; }
  .daily-report .daily-report-title {
    padding-top: 50px; }
    .daily-report .daily-report-title p {
      font-size: 36px; }
    .daily-report .daily-report-title .ti-write {
      font-size: 30px; }
  .daily-report .daily-report-description p {
    text-align: center; }
  .daily-report .daily-report-img {
    margin-top: 0px; }
  .select-number .select-carousel {
    padding-top: 48.75px;
    padding-bottom: 50px; }
    .select-number .select-carousel .carousel {
      float: none;
      width: 0px;
      padding-left: 15px; }
  .members .members-title {
    padding-top: 50px; }
    .members .members-title p {
      font-size: 36px; }
    .members .members-title .ti-user {
      font-size: 30px; }
  .members .members-description p {
    text-align: center; }
  .members .members-img {
    margin-top: 0px; }
  .customers .customers-title {
    padding-top: 50px; }
    .customers .customers-title p {
      font-size: 36px; }
    .customers .customers-title .ti-face-smile {
      font-size: 30px; }
  .customers .customers-description p {
    text-align: center; }
  .customers .customers-img {
    margin-top: 0px; }
  .our-customers .our-customers-carousel .our-customers-title p {
    line-height: 48px;
    font-size: 36px; }
  .our-customers .our-customers-employees {
    padding-top: 20px; }
  .our-customers .our-customers-content .ti-quote-right {
    float: right; }
  footer .footer-column span {
    font-size: 12px; } }

@media screen and (max-width: 767px) {
  body {
    width: 100%; }
  .start-now {
    padding: 11px 29px;
    font-size: 14px;
    line-height: 19px; }
  .i-learnt .i-learnt-start, .daily-report .daily-report-start, .members .members-start, .customers .customers-start {
    text-align: center;
    margin-top: 0px;
    padding-bottom: 30px;
    padding-top: 20px; }
  header .theme-icons .ti-gift, header .theme-icons .ti-alarm-clock, header .theme-icons .ti-thumb-up {
    font-size: 18px;
    letter-spacing: 1px; }
  .i-learnt .today-i-learnt-title p, .daily-report .daily-report-title p, .members .members-title p, .customers .customers-title p {
    font-size: 24px;
    line-height: 32px; }
  header .text-icons .better, header .text-icons .faster, header .text-icons .together {
    font-size: 18px;
    line-height: 24px; }
  .i-learnt .today-i-learnt-title .ti-bookmark-alt, .daily-report .daily-report-title .ti-write, .members .members-title .ti-user, .customers .customers-title .ti-face-smile, .project .daily-report-title .ti-calendar {
    padding-top: 5px;
    font-size: 20px; }
  header .about-us {
    padding-left: 30%; }
  header .sign-in {
    padding-top: 13px; }
  header .logo {
    text-align: center;
    padding-top: 8px; }
    header .logo label {
      width: 96px; }
      header .logo label img {
        max-width: 100%; }
  header .theme-icons {
    padding-left: 6.5%;
    padding-top: 20px; }
    header .theme-icons .ti-alarm-clock {
      padding-left: 35.21%; }
    header .theme-icons .ti-thumb-up {
      padding-left: 33%; }
  header .text-icons {
    padding-top: 8px; }
    header .text-icons .faster {
      padding-left: 22.04%; }
    header .text-icons .together {
      padding-left: 14.26%; }
  header .text-title {
    padding-top: 15px; }
    header .text-title p {
      font-size: 9px;
      line-height: 11px; }
  header .header-start {
    padding-top: 15px;
    padding-bottom: 26.75px; }
  .i-learnt .i-learnt-img {
    margin-top: 0px; }
  .i-learnt .today-i-learnt-title {
    padding-top: 30px; }
  .i-learnt .content-today-i-learnt {
    padding-top: 21px; }
  .i-learnt .i-learnt-description p {
    font-size: 13px;
    text-align: center; }
  .daily-report .daily-report-title {
    padding-top: 30px; }
  .daily-report .daily-report-description p {
    font-size: 13px;
    text-align: center; }
  .daily-report .daily-report-img {
    margin-top: 0px;
    padding-top: 21px; }
  .select-number .select-carousel {
    padding-top: 48.75px;
    padding-bottom: 50px; }
    .select-number .select-carousel .carousel {
      float: none;
      width: 0px;
      margin-left: 5px; }
  .members .members-title {
    padding-top: 30px; }
  .members .members-description p {
    text-align: center;
    font-size: 13px; }
  .members .members-img {
    margin-top: 0px;
    padding-top: 21px; }
  .customers .customers-content {
    padding-top: 21px; }
  .customers .customers-title {
    padding-top: 30px; }
  .customers .customers-description p {
    font-size: 13px;
    text-align: center; }
  .customers .customers-img {
    margin-top: 0px; }
  .our-customers .our-customers-carousel .our-customers-title p {
    line-height: 32px;
    font-size: 24px; }
  .our-customers .our-customers-employees {
    padding-top: 20px; }
  .our-customers .our-customers-content .ti-quote-right {
    float: right;
    margin-top: 0px;
    font-size: 48px; }
  .our-customers .our-customers-content .our-customers-detail {
    margin-top: 0px; }
    .our-customers .our-customers-content .our-customers-detail p {
      font-size: 14px;
      line-height: 25px; }
  .our-customers .our-customers-content .ti-quote-left {
    font-size: 48px; }
  footer .footer-logo label {
    width: 96px; }
  footer .footer-column {
    padding-top: 25px; }
    footer .footer-column span {
      font-size: 12px; }
  footer .footer-link-network {
    padding-top: 25px; }
  footer .copyright-2017 {
    float: right;
    padding-bottom: 26.31px; } }

@media screen and (min-width: 992px) and (max-width: 1199px) {
  body {
    width: 100%; }
  .i-learnt .i-learnt-start, .daily-report .daily-report-start, .members .members-start, .customers .customers-start {
    margin-top: 30px;
    padding-top: 0px;
    padding-bottom: 100px; }
  header .theme-icons {
    padding-left: 7%; }
    header .theme-icons .ti-alarm-clock {
      padding-left: 30.71%; }
    header .theme-icons .ti-thumb-up {
      padding-left: 32.1%; }
  header .text-icons {
    padding-left: 4.6%; }
    header .text-icons .faster {
      padding-left: 22%; }
    header .text-icons .together {
      padding-left: 18.46%; }
  .project .daily-report-img {
    margin-top: 0px; } }

@media screen and (width: 320px) {
  header .about-us {
    padding-left: 15%; }
  header .theme-icons {
    padding-left: 8.5%; }
    header .theme-icons .ti-alarm-clock {
      padding-left: 24.21%; }
    header .theme-icons .ti-thumb-up {
      padding-left: 23%; }
  header .text-icons .better {
    font-size: 17px; }
  header .text-icons .faster {
    font-size: 17px;
    padding-left: 2%; }
  header .text-icons .together {
    font-size: 17px;
    padding-left: 1%; }
  .i-learnt .today-i-learnt-title {
    margin-left: 12%; }
  .daily-report .daily-report-title {
    margin-left: 12%; } }

@media screen and (min-width: 360px) and (max-width: 400px) {
  header .about-us {
    padding-left: 15%; }
  header .theme-icons {
    padding-left: 7.5%; }
    header .theme-icons .ti-alarm-clock {
      padding-left: 28.21%; }
    header .theme-icons .ti-thumb-up {
      padding-left: 28%; }
  header .text-icons .faster {
    padding-left: 10%; }
  header .text-icons .together {
    padding-left: 2%; } }

@media screen and (min-width: 401px) and (max-width: 471px) {
  header .about-us {
    padding-left: 25%; }
  header .theme-icons {
    padding-left: 7.5%; }
    header .theme-icons .ti-alarm-clock {
      padding-left: 30.21%; }
    header .theme-icons .ti-thumb-up {
      padding-left: 28%; }
  header .text-icons .faster {
    padding-left: 14%; }
  header .text-icons .together {
    padding-left: 10%; } }

@media screen and (width: 360px) {
  .select-number .select-carousel .carousel {
    margin-left: 0px; } }

@media screen and (width: 320px) {
  .select-number .select-carousel .carousel {
    margin-left: 0px; }
    .select-number .select-carousel .carousel .number img {
      max-width: 88%; }
  .members .members-detail p {
    width: 85.666667%; }
  .customers .customers-detail p {
    width: 85.666667%; } }

@media screen and (width: 375px) {
  header .text-icons .together {
    padding-left: 8%; } }

@media screen and (width: 480px) {
  .select-number .select-carousel .carousel {
    margin-left: 20px; } }
