@font-face {
	font-family: 'Roboto-Light';
	src: url('../fonts/Roboto-Light.ttf');  
}
@font-face {
	font-family: 'Roboto-Regular';
	src: url('../fonts/Roboto-Regular.ttf');  
}
@font-face {
	font-family: 'Roboto-Italic';
	src: url('../fonts/Roboto-Italic.ttf');  
}
@font-face {
	font-family: 'Roboto-Medium';
	src: url('../fonts/Roboto-Medium.ttf');  
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}
p {
	margin: 0px !important;
}
$color_01: #8BC34A;
$color_02: #283238;
$color_03: #FFFFFF;
$color_04: #444444;

%icon-general {
	float: left;
	font-size: 48px;
	letter-spacing: 4px;
	color: $color_02;
}

%icon-general-title {
	float: left;
	font-size: 36px;
	color: $color_04;
	padding-top: 13px;
}

%text-general {
	font-size: 36px;	
	font-weight: 300;	
	line-height: 48px;
	color: $color_02;
	font-family: Roboto-Light;
}

%text-title {
	padding-left: 19px;
	color: $color_04;		
	font-size: 48px;
	float: left;	
	font-weight: 300;
	line-height: 63px;
	font-family: Roboto-Light;
}

%transition {
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

%description{
	color: $color_02;
	font-size: 14px;
	font-style: italic;
	line-height: 19px;
	padding-bottom: 25px;
}

%detail{
	color: $color_02;
	font-size: 13px;
	line-height: 24px;
	text-align: justify;
}

%start{
	padding-top: 30px;
	padding-bottom: 100px;
}

@mixin backgr($deg){
 background: linear-gradient($deg, #B4EC51 0%, #429321 100%);	
}

.btn-sign-in{
	&:hover{
		@extend %transition;
		color: $color_03;
  	@include backgr(135deg);
 	}
}
